*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-areas:
     "header"
     "banner"
     "slider"
     "form"
     "footer";
}
/* Header */
header{
    width: 100vw;
    height: 15vh;
    padding: 10px;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header img, .bot-logo{
    width: auto;
    height: 50px;
}
ul{
    display: flex;
    flex-direction: row;
    gap:20px;
    list-style: none;
    font-weight: 500;
}

ul > li a{
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

ul > li a:hover{
    color: #2E6D84; 
}
/* Banner #2E6D84*/
.banner{
    grid-area: banner;
}
#banner{
    width: 100vw;
}

/* Slider CSS */
section{
    margin-top: 5vh;
}
.container-slider{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    grid-area: slider;
    background-color: white; 
}

.container-test{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 80vh;
    left: -30vw;

}
#test{
    position: absolute;
    top: 10vh;
    left: 1vw;
}

#img-testi{
    width: 300px;
    height: 300px;
    position: relative;
    left: 3vw;
    border-radius: 15px;
}
.slider{
    position: absolute;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: opacity .2s;
}

.on{
    opacity: 1;
}

#prev-button, #next-button{
    width: 40px;
    height: 40px;
    position: relative;
    left: -25vw;
    border: none ;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img{
    width: 100%;
    height: 100%;
}

.testm{
    color: black;
    font-weight: 500;
    line-height: 3.5vh;
    width: 27vw;
    margin-top: 5px;
}
.info{
    color:black;
    padding-top: 8px;
}
.info span{
    font-weight: 700;
}

.patern{
   transform: rotate(-60deg); 
   position: relative;
   width: 100%;
   height: fit-content;
   left: 13vw;
} 
/* Sidebar */
aside{
    margin: 5px 20px;
    grid-area: form;
}

#form-container{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-top: 10vh;
}
form{
    width: 500px;
    padding: 15px;
}
.title-form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
}
label{
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: var(--var-prim-color);
    margin-top: 8px;
}
input{
    border: 2px solid hsl(240, 48%, 53%);
    border-radius: 8px;
    width: 40vw;
    height: 40px;
    background-color: var(--main-bg-color);
    margin: 5px 0px;
}
input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid hsl(240, 52%, 49%);
}
input[type="submit"]{
    background-color: hsl(240, 48%, 53%);
    color: #fff;
}
input[type="submit"]:hover{
    background-color: #2E6D84;
}
textarea[id="coment"]{
    border: 2px solid hsl(240, 48%, 53%);
}
textarea[id="coment"]:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid hsl(240, 52%, 49%);
}

footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size: 9px;
}
.linkedin, .github{
    gap: 5px;
    width: 18px;
}

.attribution{
    margin: 6px;
}

